{% if data.piece %}
  {% set context = data.piece %}
{% else %}
  {% set context = data.page %}
{% endif %}
{% set openGraphUrl = context._url %}
{% if context.openGraphTitle %}
  {% set openGraphTitle = context.openGraphTitle %}
{% else %}
  {% set openGraphTitle = context.title %}
{% endif %}
{% if context.openGraphDescription %}
  {% set openGraphDescription = context.openGraphDescription %}
{% endif %}
{% if context.openGraphType %}
  {% set openGraphType = context.openGraphType %}
{% endif %}
{% if context.openGraphImage %}
  {% if apos.images.first(context.openGraphImage) %}
    {% set openGraphImageObj = apos.images.first(context.openGraphImage) %}
    {% set openGraphImagePath = apos.attachments.url(openGraphImageObj, { size: 'original' })  %}
  {% endif %}
{% endif %}
<meta property="og:url" content="{{ openGraphUrl }}" />
<meta property="og:type" content="{{ openGraphType or 'website' }}" />
<meta property="og:title" content="{{ openGraphTitle }}" />
{% if openGraphDescription %}
  <meta property="og:description" content="{{ openGraphDescription }}" />
{% endif %}
{% if openGraphImagePath %}
  <meta property="og:image" content="{% if data.baseUrl %}{{ data.baseUrl }}{% endif %}{{ openGraphImagePath }}" />
{% endif %}
